<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vấn tin số dư</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/icontitle.jpg" />
    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">
    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
        <div class="container-fluid px-md-4	">
            <a class="navbar-brand" href="/">Trang chủ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="oi oi-menu"></span> Menu
            </button>

            <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="#" class="nav-link">Giới thiệu</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Khuyến mãi</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Dịch vụ</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Trợ giúp</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Liên hệ</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Tên khách hàng</a></li>
                    <li class="nav-item"><a href="../" class="btn btn-danger">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- END nav -->








    <!--Nội dung-->


    <section class="ftco-services">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-4 ftco-animate py-5 nav-link-wrap">
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                        <a class="nav-link px-6" href="#homeSubmenu" role="tab" aria-controls="v-pills-buffet"
                            data-toggle="collapse" aria-selected="false">Thanh toán</a>

                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#" class="btn btn-primary">Tiền điện</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-primary">Tiền nước</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-primary">Tiền Internet</a>
                            </li>
                            <li>
                                <a href="#" class="btn btn-primary">Truyền hình</a>
                            </li>
                        </ul>
                        <a class="nav-link px-6" id="v-pills-buffet-tab" data-toggle="pill" href="#v-pills-reception"
                            role="tab" aria-controls="v-pills-buffet" aria-selected="false">Nạp tiền</a>

                        <a class="nav-link px-6" id="v-pills-fitness-tab" data-toggle="pill" href="#v-pills-fitness"
                            role="tab" aria-controls="v-pills-fitness" aria-selected="false"> Xem lịch sử giao dịch</a>

                        <a class="nav-link px-6 active" id="v-pills-reception-tab" data-toggle="pill"
                            href="#v-pills-buffet" role="tab" aria-controls="v-pills-reception"
                            aria-selected="false">Thanh toán</a>

                    </div>
                </div>
                <div class="col-md-8 ftco-animate p-4 p-md-5 d-flex align-items-center">

                    <div class="tab-content pl-md-5" id="v-pills-tabContent">


                        <div class="tab-pane fade show active py-5" id="v-pills-buffet" role="tabpanel"
                            aria-labelledby="v-pills-buffet-tab">
                            <span class="icon mb-3 d-block flaticon-neurology"></span>
                            <h2 class="mb-4" style="text-align: center">Thanh Toán</h2>
                            <form action="/thanhtoan" method="GET">
                                <table border="0" class="table table-borderless">
                                    <tr>
                                        <input name="iddv" type="hidden" placeholder="Nhập mã khách hàng"
                                            style="width:300px; height: 30px" value="<%=id%>">
                                            <input name="idnd" type="hidden" placeholder="Nhập mã khách hàng"
                                            style="width:300px; height: 30px" value="<%=idnd%>">
                                            <input name="ten" type="hidden" placeholder="Nhập mã khách hàng"
                                            style="width:300px; height: 30px" value="<%=ten%>">
                                    </tr>
                                    <tr>
                                        <td>Doanh Nghiệp</td>
                                        <td>
                                            <select style="width:300px; height: 30px" name="doanhnghiep">
                                                <%iddoanhnghiep.forEach((dn)=>{ %>
                                                <option value="<%=dn%>"><%=dn%></option>
                                                <%  })  %>

                                        </td>
                                        </select>
                                    </tr>
                                    <tr>
                                        <td>Mã Khách hàng:</td>
                                        <td><input name="makh" type="text" placeholder="Nhập mã khách hàng"
                                                style="width:300px; height: 30px"></td>
                                    </tr>
                                    <tr>
                                        <td>Mã hóa đơn</td>
                                        <td><input name="mahd" type="text" placeholder="Nhập mã hóa đơn"
                                                style="width:300px; height: 30px"></td>
                                    </tr>

                                </table>

                                <button style="text-align: right" class="btn btn-success" type="submit">Tiếp
                                    tục</button>
                            </form>

                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-fitness" role="tabpanel"
                            aria-labelledby="v-pills-fitness-tab">
                            <span class="icon mb-3 d-block flaticon-cardiogram"></span>
                            <h2 class="mb-4" style="text-align: center">Lịch sử giao dịch</h2>
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">STT</th>
                                        <th scope="col">Loại giao dịch</th>
                                        <th scope="col">Số tiền</th>
                                        <th scope="col">Ngày thanh toán</th>
                                        <th scope="col">Nhà cung cấp</th>
                                        <th scope="col">Mã khách hàng</th>
                                    </tr>
                                </thead>
                                <!--Load database tại đây-->
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-reception" role="tabpanel"
                            aria-labelledby="v-pills-reception-tab">
                            <span class="icon mb-3 d-block flaticon-neurology"></span>
                            <h2 class="mb-4" style="text-align: center">Nạp tiền</h2>
                            <form>
                                <table border="0" class="table table-borderless">
                                    <tr>
                                        <td>Nhập số tiền muốn nạp: </td>
                                        <td><input type="text" style="width:300px; height: 30px"></td>
                                    </tr>
                                    <tr>
                                        <td>Thẻ ngân hàng liên kết :</td>
                                        <td><input type="text" style="width:300px; height: 30px"></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td><button style="width: 150px;height:50px" class="btn btn-info"
                                                type="submit">Nạp tiền</button></td>

                                    </tr>
                                </table>
                            </form>
                        </div>

                        <div class="tab-pane fade py-5" id="v-pills-sea" role="tabpanel"
                            aria-labelledby="v-pills-sea-tab">
                            <span class="icon mb-3 d-block flaticon-vision"></span>
                            <h2 class="mb-4">Ophthalmology Departments</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt voluptate, quibusdam
                                sunt iste dolores consequatur</p>
                            <p>Inventore fugit error iure nisi reiciendis fugiat illo pariatur quam sequi quod iusto
                                facilis officiis nobis sit quis molestias asperiores rem, blanditiis! Commodi
                                exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.
                            </p>
                            <p><a href="#" class="btn btn-primary">Learn More</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="ftco-section services-section">
        <div class="container">
            <div class="row d-flex">
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-resume"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Thanh toán tiện lợi</h3>
                            <p>Thao tác đơn giản, thanh toán nhanh gọn, bảo đảm an toàn</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-team"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Kết nối người dùng</h3>
                            <p>Kết nối nhiều khách hàng và nhiều doanh nghiệp lại với nhau</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-career"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Top xếp hạng</h3>
                            <p>Chiếm thứ hạng cao trong lĩnh vự thanh toán online</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 d-flex align-self-stretch ftco-animate">
                    <div class="media block-6 services d-block">
                        <div class="icon"><span class="flaticon-employees"></span></div>
                        <div class="media-body">
                            <h3 class="heading mb-3">Đội ngũ chăm sóc nhiệt tình</h3>
                            <p>Đội ngũ nhân viên tâm huyết có tinh thần cao trong công việc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--
      <footer class="ftco-footer ftco-bg-dark ftco-section">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
  
              <p> Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. 
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="" target="_blank">Nhóm 18</a>
     Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.</p>
            </div>
          </div>
        </div>
      </footer>
  -->


    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00" /></svg></div>


    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/scrollax.min.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map.js"></script>
    <script src="js/main.js"></script>

</body>

</html>